@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
:root {
    background-color: #000;
    color: white;
}

body {
    margin: 0;
    overflow-x: hidden;
}